@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  background-color: rgba(246, 246, 246, 0.98);
}


:root {
  --color: rgb(25, 68, 138);
  --secondary-color: rgb(67, 138, 236);
  --subtitle: rgb(150, 150, 150);
  --background-color:  rgb(245, 246, 249);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: inline !important;
}

h1{
  color: var(--color);
  font-family: 'DM Serif Text', serif;
  /* font-family: 'Nova Round', sans-serif; */
  font-size: 50px;
}

h2{
  font-family: 'DM Serif Text', serif;
  font-size: 35px;
}

h3{
  font-family: 'DM Serif Text', serif;
  font-size: 25px;
}

h4{
  font-size: 22px;
  color: var(--subtitle);
  font-weight: 400;
}

p{
  font-size: 16px;
  margin-bottom: 0px;
}

.banner {
  background-color: var(--background-color);
  padding: 100px 25% 2% 25%;
  min-height: 50vh;
  position: relative;
  background-attachment: fixed;
  color: var(--color);
}

a{
  color: var(--secondary-color);
}

.button{
  font-size: 14px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(12, 109, 207, 0.05);
  border-radius: 10px;
  border-width: 2.5px;
  border-style: solid;
  padding: 5px;
  color: var(--color);
}

.button:hover{
  transition: background-color 0.3s, color 0.3s;
  background-color: rgba(167, 216, 255, 0.413);
  color: var(--secondary-color);
  text-decoration: none;
}

.externallinkimage{
  margin-left: 6px;
  margin-top: -6px;
  opacity: 40%;
}

.wlayer1{
    margin-left: 80px;
}
.wlayer2{
    margin-left: 75px;
}
.wlayer3{
    margin-left: 70px;
}

.screen{
  mix-blend-mode: difference;
  opacity: 0.65;
  display: block;
}

.frostedCard{
  border-radius: 25px;
  z-index: 1;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
}

.defaultImage{
  height: auto;
}

.rzpp-preview {
  border: 3px solid rgba(0, 0, 0, 0.5) !important; /* Outer border */
}

.frontpage{
  background-image: url("/background.svg");
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  min-height: 100vh;
}




@media only screen and (max-width: 768px) {

  .frontpage{
    background-position: right;
  }

  .layer {
    background-position: top center;
    margin-top: 0vh;
    height: 100vh;
    width: 200vw;
  }

  .screen{
    opacity: 0.4;
  }

  .wlayer1{
    margin-left: -81vw;
  }
  .wlayer2{
    margin-left: -80vw;
  }
  .wlayer3{
    margin-left: -79vw;
  }

  h1{
    font-size: 30px;
  }
  
  h2{
    font-size: 25px;
  }
  
  h3{
    font-size: 20px;
  }
  
  h4{
    font-size: 16px;
  }
  
  p{
    font-size: 14px;
  }

  body{
    font-size: 14px;
  }

  .externallinkimage{
    width: 12px;
    height: 12px;
    margin-top: -5px;
  }

  .banner{
    padding: 100px 5% 3% 5%;
    min-height: 30vh;
  }

  #education .frostedCard{
    text-align: center;
  }

  #experience .frostedCard{
    text-align: center;
  }

  #experience ul{
    text-align : left;
  }

  

}
